
.main{
   
    width: 25%;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
}

.main header{
    width:100%;
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;


}
header .logo{
    
    display: inline-block;
    text-align: center;
    padding: 10px 0;

   
}
.logo .circle1{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color:#1e2736 ;


    margin: auto;
    float: left;
    position: relative;
    left: 7px;
   
}
.logo .circle2{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color:#ca0926;

    overflow: hidden;
    margin: auto;
    float: left;
    position: relative;
    left: -16px;

   


}
header .cardwrapper {
    width: 100%;
    
}

.cardwrapper img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: auto;
    border: 3px solid;
   
  border-color: #212431 #ca0926 #ca0926 #212431;
  transition: all .3s;


}
img:hover {
  border-color: #212431 transparent #ca0926 transparent;


}
h1,h2{
    margin: 10px;
    text-transform: uppercase;
    color: #1e2736;
    font-family: 'Bitter', serif;
}
header .bottom{
    width:100%;
    height: 20px;
    display: flex;
    overflow: hidden;
    margin-top: 20px;
   

}

  /* .box1{
     width:5px;
     height:40px;
     background-color: #ca0926;
     position: relative;
    top: 108px;
    border-radius: 0 20px 20px 0px;
 }
  .box2{
    width:5px;
    height:40px;
    background-color: #ca0926;
    position: absolute;
   top: 108px;
   border-radius: 20px 0px 0px 20px;
   left: 828px;
} */

.bottom .left{
width:50%;
height:20px;
transform: skewX(30deg);
background-color: #ca0926;
position: relative;
left:-5px;

}

.bottom .right{
    width:50%;
height:20px;
background-color:#212431;
transform: skewX( 30deg);
position: relative;
right:-5px;


}



.main section{

 width:100%;
 margin: auto;
        background-color: #1e2736;
        /* padding: 10px 20px; */
        text-align: center;
        display: flex;
        justify-content: space-between;
        color: white;

        
    }
  a{text-decoration: none;}
    p{
        font-size: 13px;
        margin-bottom: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .mrg-bottom{
        margin-bottom: 30px;
    }
    i{
        font-size: 15px;
    }

    section .lefticon{
        width:10%;
        display: block;
        padding: 0 10px;
    }
   
    section .rightinfo{
        width:90%;
        border-left: 2px solid gray;
        text-align: left;
        padding:0 10px;




    }
    .main footer{
        width:100%;
        background-color: #1e2736;
        padding: 20px 0;
        border-radius: 0 0 20px 20px;

    }
    footer .social{
        width:80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .social a {
        font-size: 16px;
        background: #ca0926b0;
        color: #fff;
        line-height: 35px;
        border-radius: 50%;
        text-align: center;
        width: 35px;
        transition: 0.3s;
    }
    
    .social a:hover {
        background-color: white;
        color:#ca0926;
 



    }


    @media only screen and (max-width:768px){
        .main{
            width:40%;
            
        }

    }




    @media only screen and (max-width:430px) {
        .main{
            width:70%;
        }
       .cardwrapper img{
width:110px;
height:110px;
      }
       
/* header .box2{
    left:413px;
}         */

    }